{% extends 'base.html' %}
{% block content %}

<h1 class="language-list-title">Languages List</h1>
{% if languages|length == 0 %}
<div class="no-languages">
    <h2>No languages in database.</h2>
    <a href="{% url 'create' %}" value="Add Language"><button class="btn">Add Language</button></a>
</div>
{% else %}
{% for language in languages %}
<div id="language-card">
    <h3>» {{language.name}}</h3>
    <p>Already learnt? {{language.learnt}}</p>
    <div>
        <a href="{% url 'update' language.id %}">Update</a>
        <a href="{% url 'delete' language.id %}">Delete</a>
    </div>
</div>

{% endfor %}
{% endif %}


</head>
<body>

{% endblock %}
